.top{
    width: 100%;
    height: 170px;
}

.top>.menu{
    position: relative;
    margin-top: 1px;
    line-height: 50px;
    height: 50px;
    float: right;
    right: 40px;
}

.top>.menu>ul>li>a{
    font-family: "黑体";
    font-size: 14px;
    color: black;
    margin-right: 9px;
    margin-left: 9px;
}

.top>.menu>ul>li>.other{
    font-weight: bold;
    width: 10px;
}

.list{
    position: relative;
    border: 0;
    height: 25px;
    width: 64px;
    background: rgb(46, 142, 252);
    color: white;
    margin-right: 9px;
    margin-left: 9px;
}

.main{
    text-align: center;
    height: 150px;
}

.main>.logo>.pic{
    width: 270px;
    height: 129px;
}

.search{
    text-align: center;
    height: 450px;
}

.inputtext{
    width: 525px;
    height: 31px;
}

.btn{
    cursor: pointer;
    border: 0;
    width: 100px;
    height: 38px;
    background: rgb(46, 142, 252);
    font-size: 15px;
    color: white;
}

.qrcode{
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.qrcodepic{
    width: 60px;
    height: 60px;
}

.qrcodename{
    line-height: 0.1px;
    font-size: 15px;
    letter-spacing: 0.001px;
    font-family: "黑体";
    color: rgb(139, 132, 132);
    font-weight: bold;
}

.bottom{
    text-align: center;
    width: 99%;
    position: relative;
}

.speacial{
    margin-left: 15px;
}

.bottom>p{
    letter-spacing: 0px;
    font-family: "黑体";
    font-size: 14px;
    line-height: 0.1px;
    color: darkgrey;
}

.bottom>p>a{
    letter-spacing: 0px;
    font-family: "黑体";
    font-size: 14px;
    line-height: 0.1px;
    color:darkgray;
}

.bottom>a{
    letter-spacing: 0px;
    font-family: "黑体";
    font-size: 14px;
    line-height: 0.1px;
    color:darkgray;
}

ul{
    list-style: none;
}

ul>li{
    position: relative;
    float: left;
    line-height: 30px;
}

ul>li>ul>li{
    list-style: none;
    float: none;
    text-align: center;
}

.sett{
    color: black;
    margin-top: 2px;
    position: relative;
    font-size: 10px;
    right: 40px;
    display: none;
}

.mmore{
    color: black;
    width: 64px;
    margin-top: 5px;
    position: relative;
    font-size: 15px;
    right: 30px;
    display: none;
}