body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100%;
    position: relative;
}

.title{
    font-family: "consolas";
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    cursor: default;
    user-select: none;
}

.sub{
    text-align: center;
}

.intext{
    border: 1;
    border-color: black;
    border-radius: 20px;
    width: 450px;
    height: 40px;
}

.adbtn{
    border: 0;
    color: white;
    background: rgb(53, 117, 255);
    border-radius: 45px;
    width: 90px;
    height: 45px;
    font-family: "黑体";
    font-size: 15px;
}

.adbtn:hover{
    background: rgb(52, 106, 221);
    cursor: pointer;
}

.list{
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
}

ul>li{
    list-style: none;
    line-height: 50px;
    background: rgb(230, 230, 230);
    user-select: none;
}

.fin{
    text-decoration: line-through;
}

ul>li:nth-child(odd){
    background: whitesmoke;
}

ul>li>a{
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: lighter;
}

ul>li>.del{
    border: 0;
    height: 50px;
    width: 50px;
    float: right;
}

ul>li>.del:hover{
    background: rgb(255, 43, 43);
    cursor: pointer;
}

ul>li:hover{
    background: rgb(247, 254, 255);
    cursor: pointer;
}

.im{
    width: 20px;
    height: 20px;
}